@model BlogOn.Models.Comment
@{
    ViewData["Title"] = "DELETE THE EXISTING COMMENT";
}

<div class="row">
    <div class="col-md-12">
        <div style="border-radius: 2px" class="card">
            <div class="card-header">
                <h6 class="title">@ViewData["Title"]</h6>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Delete" asp-antiforgery="true">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserID"></label>
                                <input readonly class="form-control" value="@Model.User.FullName()" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="User.Email"></label>
                                <input readonly class="form-control" value="@Model.User.Email" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="PostID"></label>
                                <input readonly class="form-control" value="@Model.Post.Title" autocomplete="off">
                                <small>
                                    <a asp-action="Details" asp-controller="Post" asp-area="" asp-route-id="@Model.Post.ID" asp-route-month="@Model.Post.CreatedAt.Month" asp-route-year="@Model.Post.CreatedAt.Year" asp-route-slug="@Model.Post.Slug">Visit the Post</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Body"></label>
                                <textarea readonly asp-for="Body" class="form-control textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" asp-for="IsActive">
                                <label class="form-check-label" asp-for="IsActive"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button asp-route-id="@Model.ID" type="submit" class="btn btn-danger">Delete</button>
                            <a asp-action="Index" class="btn btn-default">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>