@model IEnumerable<BlogOn.Models.Post>
@{
    ViewData["Title"] = "ALL BLOG POSTS";
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn pull-right btn-primary">
            <span class="nc-icon nc-simple-add"></span>
            Create a New Resource
        </a>
        <div class="clearfix"></div>
        <div style="border-radius: 2px;" class="card">
            <div class="card-header">
                <h6 class="title">@ViewData["Title"]</h6>
            </div>
            <div class="card-body">
                @if (Model.Count() > 0)
                {
                    <div style="overflow: hidden;" class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th scope="col">@Html.DisplayNameFor(model => model.ID)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Slug)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.UserID)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.IsActive)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.CreatedAt)</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.ID)</td>
                                        <td>@if (@item.Slug.Length > 50) { @item.Title.Substring(0, 50) @Html.Raw("...") } else { @item.Title }</td>
                                        <td>@if (@item.Slug.Length > 50) { @item.Slug.Substring(0, 50) @Html.Raw("...") } else { @item.Slug }</td>
                                        <td>@item.User.FullName()</td>
                                        <td>
                                            @if (@item.IsActive == true)
                                            {
                                                <i class="bg-success"></i> <div class="text-success">Active</div>
                                            }
                                            else
                                            {
                                                <i class="bg-warning"></i> <div class="text-warning">Pending</div>
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(model => item.CreatedAt)</td>
                                        <td class="text-right">
                                            <partial name="_ActionButtonsPartial" model="item.ID">
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-info alert-dismissible fade show">
                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="nc-icon nc-simple-remove"></i>
                        </button>
                        <span>
                            <b> Info - </b> There are no any resources to show here.
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>