@model IEnumerable<BlogOn.Models.Post>

@{
    ViewData["Title"] = "Welcome";
}

@foreach (var item in Model)
{
    <div class="blog-post">
        <h2 class="blog-post-title"><a >@Html.DisplayFor(model => item.Title)</a></h2>
        <p class="blog-post-meta">@item.CreatedAt.ToShortDateString() by <a href="#">@item.User.FullName()</a></p>

        <p>
            @if (item.Body.Length > 550) { @item.Body.Substring(0, 550) @Html.Raw("...") } else { @item.Body }
        </p>

        <a style="border-radius: 0" class="btn btn-secondary" 
            asp-action="Details" 
            asp-controller="Post" 
            asp-route-id="@item.ID" 
            asp-route-month="@item.CreatedAt.Month" 
            asp-route-year="@item.CreatedAt.Year" 
            asp-route-slug="@item.Slug">Read More
        </a>
    </div><!-- /.blog-post -->
}