@model BlogOn.Models.ViewModels.PostViewModel
@using BlogOn.Services.Client.Comment
@inject CommentsService Stats;
@{
    ViewData["Title"] = "Post: " + @Model.Post.Title;
}

<div class="blog-post">
    <h2 class="blog-post-title">@Html.DisplayFor(model => Model.Post.Title)</h2>
    <p class="blog-post-meta">Created at @Html.DisplayFor(model => Model.Post.CreatedAt) by <a href="#">@Model.Post.User.FullName()</a> | Category: <a href="#">@Html.DisplayFor(model => Model.Post.Category.Name)</a></p>

    <p>
        @Model.Post.Body
    </p>
</div><!-- /.blog-post -->

<div class="blog-post">
    <h2>Comments (@Stats.CommentCounts(Model.Post.ID))</h2>
    <hr />
    <p>
        @if (Model.Comments.Count() > 0)
        {
            @foreach (var item in Model.Comments)
            {
                <p>
                    <strong>@item.User.FullName()</strong> <small>@item.User.CreatedAt</small> <br />
                    @Html.DisplayFor(comment => item.Body)
                </p>
            }
        }
        else
        {
            <div style="border-radius: 0" class="alert alert-info" role="alert">
                There are no any comments to show here.
            </div>
        }
    </p>

</div><!-- /.blog-post -->

<div class="blog-post">
    <h2>Leave a Comment</h2>
    <hr />
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-antiforgery="true" id="commentForm">
                <div class="form-group">
                    <textarea id="text" style="border-radius: 0" class="form-control" rows="3"></textarea>
                </div>
                <button style="border-radius: 0" type="submit" class="btn btn-secondary">Submit the Comment</button>
            </form>
        }
        else
        {
            <div style="border-radius: 0" class="alert alert-info" role="alert">
                To submit a comment, you have to sign in the application.
            </div>
        }

    </p>
</div><!-- /.blog-post -->

@section Scripts
{
    <script language="javascript" type="text/javascript">
        $(function () {
            var form = $('#commentForm');
            form.submit(function () {
                var form = $(this);
                var comment = { Body: $('#text').val(), PostID: @Model.Post.ID };
                var json = JSON.stringify(comment);
                $.ajax({
                    url: '/api/comments',
                    type: 'POST',
                    data: json,
                    cache: false,
                    dataType: 'text',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert("Your comment has submitted successfully.");
                    },
                    error: function (data) {
                        alert("You have to enter a comment to submit it.");
                    }
                });
                return false;
            });
        });
    </script>
}