@model BlogOn.Models.ViewModels.PostViewModel
<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Html.DisplayFor(model => Model.Post.Title)</h1>
                    <span style="font-style: normal" class="meta">
                        Posted by
                        <a href="#">@Model.Post.User.FullName()</a>
                        on @Model.Post.CreatedAt.ToShortDateString()
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>@Html.DisplayFor(model => Model.Post.Title)</h1>
                <p>
                    @Html.DisplayFor(model => Model.Post.Body)
                </p>
            </div>
        </div>
    </div>
</article>

<!-- Comments -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Comments</h1>
                @foreach (var item in Model.Comments)
                {
                    <p>
                        <strong>@item.User.FullName()</strong> <small>@item.User.CreatedAt</small> <br />
                        @Html.DisplayFor(comment => item.Body)
                    </p>
                }
            </div>
        </div>
    </div>
</section>

<!-- Comment Post -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Leave a Comment</h1>
                @if (!User.Identity.IsAuthenticated)
                {
                    <p>
                        <div style="border-radius: 0" class="alert alert-primary" role="alert">
                            You have to sign in to write a comment.
                        </div>
                    </p>
                }
                else
                {
                    <p>
                        <form asp-antiforgery="true" id="commentForm">
                            <div class="form-group">
                                <textarea id="text" style="border-radius: 0" class="form-control" rows="3"></textarea>
                            </div>
                            <button id="submit" type="submit" class="btn btn-primary">Leave a Comment</button>
                        </form>
                    </p>
                }

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script language="javascript" type="text/javascript">
        $(function () {
            var form = $('#commentForm');
            form.submit(function () {
                var form = $(this);
                var comment = { Body: $('#text').val(), PostID: @Model.Post.ID };
                var json = JSON.stringify(comment);

                $.ajax({
                    url: '/api/comments',
                    type: 'POST',
                    data: json,
                    cache: false,
                    dataType: 'text',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert("Your comment has submitted successfully.");
                    },
                    error: function (data) {
                        alert("You have to enter a comment to submit it.");
                    }
                });

                return false;
            });
        });
    </script>
}